# Compiled source #
###################
*.o
*.mod
*.pyc
*.so

# tmp files #
############
*~

# Makefiles #
#############


# Input files #
###############


# Exclude some folders #
########################

